.button {
  border: 1px solid #3470ff;
  background-color: #fff;
  line-height: 1.25;
  color: #101828;
  padding: 12px 38px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  min-width: 156px;
}

/* .primary {
  border: 1px solid #3470ff;
  color: #101828;
  padding: 12px 32px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  min-width: 200px;
} */

.primary:hover {
  border: 1px solid #0b44cd;
  transform: translateY(-2px);
}

/* .secondary {
  background-color: #fff;
  color: var(--text-dark);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
} */
