/* Base Button Styles - Common for all screen sizes */
.button {
  /* Layout */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: auto;

  font-weight: 600;
  line-height: 1.25;
  color: #101828;

  border-radius: 12px;
  border: 1px solid var(--button);
  background-color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;

  /* Mobile First (320px) */
  padding: 10px 24px;
  font-size: 14px;
  min-width: 120px;
  height: 36px;
}

.primary {
  border: 1px solid var(--button);
  color: #101828;
  background-color: #fff;
}

.secondary {
  background-color: #f7f7f7;
  color: #101828;
  border: 1px solid #dadde1;
}

.button:hover:not(:disabled) {
  transform: translateY(-2px);
}

.primary:hover:not(:disabled) {
  border: 1px solid var(--button-hover);
}

.secondary:hover:not(:disabled) {
  background-color: #e5e7eb;
  transform: translateY(-1px);
}

.button:focus {
  outline: 2px solid var(--button-hover);
  outline-offset: 2px;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none !important;
}

.fullWidth {
  width: 100%;
  min-width: auto;
}

/*  (менше 375px) */
@media (max-width: 374px) {
  .button {
    padding: 8px 20px;
    font-size: 12px;
    min-width: 100px;
    height: 32px;
  }
}

/* Tablet (768px - 1439px) */
@media (min-width: 768px) {
  .button {
    padding: 12px 32px;
    font-size: 16px;
    min-width: 140px;
    height: 40px;
  }
}

/* Desktop (1440px+) */
@media (min-width: 1440px) {
  .button {
    padding: 12px 0;
    width: 156px;
    height: 44px;
    min-width: auto;
  }
}

.button:focus-visible {
  outline: 2px solid var(--button-hover);
  outline-offset: 2px;
}

@media (prefers-reduced-motion: reduce) {
  .button {
    transition: none;
  }

  .button:hover:not(:disabled) {
    transform: none;
  }
}
