.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px;
  background-color: #dadde1;
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: 500;
  gap: 32px;
}

.navigation li a {
  text-decoration: none;
  color: #101828;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}
.navigation li a:hover {
  color: #0b44cd;
}
