.form {
  padding: 32px;
  border-radius: 10px;
  border: 1px solid var(--gray-light);
}

.formTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  line-height: 1.2;
  color: var(--main);
}

.formSubtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--gray);
  margin-bottom: 24px;
}

.formGroup {
  margin-bottom: 16px;
}

.input,
.textarea {
  width: 534px;
  padding: 12px 20px;
  background: #f7f7f7;
  color: var(--main);
  border: 1px solid transparent;
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--gray); /* Використання вашої змінної */
  opacity: 0.7;
}

.input:focus,
.textarea:focus {
  outline: none;
  border-color: #3b82f6;
}

.textarea {
  resize: vertical;
  min-height: 80px;
}

.submitButton {
  display: block;
  justify-content: center;
  margin: 0 auto;
  min-width: 156px;
  background-color: var(--button);
  color: var(--white);
  padding: 12px 54px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #0b44cd;
  transition: background-color 0.3s ease;
  transform: translateY(-2px);
}

.submitButton:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.successMessage {
  background: var(--white);
  padding: 24px;
  border-radius: 12px;
  border: 1px solid var(--border-color);
  text-align: center;
}

.successMessage h3 {
  color: #10b981;
  margin-bottom: 8px;
}
