.wrapper {
  /* max-width: 924px; */
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 40px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 14px;
  color: #8a8a8a;
}

.selectBox {
  width: 100%;
}

.select {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  padding: 12px 16px;
  border: none;
  background: #f7f7f7;
  font-size: 16px;
  color: #2b2b2b;
  outline: none;
}

/* .mileageBox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  background: #f7f7f7;
  overflow: hidden;
} */

.mileageInputFrom {
  flex: 1;
  height: 100%;
  max-width: 128px;
  padding: 12px 16px;
  border-radius: 12px 0 0 12px;
  background: #f7f7f7;
  border: none;
  outline: none;
  font-size: 16px;
  border-right: 1px solid #dadde1;
}
.mileageInputTo {
  flex: 1;
  height: 100%;
  max-width: 128px;
  padding: 12px 16px;
  border-radius: 0 12px 12px 0;
  background: #f7f7f7;
  border: none;
  outline: none;
  font-size: 16px;
}

.mileageDivider {
  width: 1px;
  height: 70%;
  background: #dadde1;
}

.searchBtn {
  width: 156px;
  height: 44px;
  background: #3470ff;
  color: #fff;
  border-radius: 12px;
  border: none;
  padding: 12px 51px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.searchBtn:hover {
  background: #2554d8;
}
