.hero {
  width: 100%;
  height: 90vh;
  margin: 4px 0;
  background-size: cover;
  background-position: center;
  background-image: image-set(
    url("/BackgroundImg/Picture-min.jpg") 1x,
    url("/BackgroundImg/Picture\ 2Ñ…-min.jpg") 2x
  );
}

.heroWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.heroContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
}

.title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3;
  text-align: center;
  color: #fff;
  margin-bottom: 40px;
}

.btn {
  border-radius: 12px;
  padding: 12px 0;
  min-width: 198px;
  background: #3470ff;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}

.btn:hover {
  background: #0b44cd;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  cursor: pointer;
}

/* Tablet: 768px+ */
@media (min-width: 768px) {
  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 18px;
  }

  .btn {
    min-width: 248px;
    font-size: 14px;
  }
}

/* Desktop: 1440px+ */
@media (min-width: 1440px) {
  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 24px;
  }

  .btn {
    width: 298px;
    font-size: 16px;
  }
}
