:root {
  --font-family: var(--font-manrope);
  --second-family: var(--font-inter);
  --main: #101828;
  --gray: #8d929a;
  --gray-light: #dadde1;
  --badges: #f2f4f7;
  --inputs: #f7f7f7;
  --white: #fff;
  --button: #3470ff;
  --button-hover: #0b44cd;
}

body {
  font-family: "Manrope", sans-serif, var(--font-family, "Manrope", sans-serif);
  margin: 0;
}

/* Основні теги */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  margin: 0;
}

p {
  margin: 0;
  color: #000000;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
}

/* Mobile First - базові стилі (320px-374px) */
.container {
  width: 100%;
  margin: 0 auto;
}

/* Адаптивна верстка з 375px */
@media (min-width: 375px) {
  .container {
  }
}

/* Tablet: 768px+ */
@media (min-width: 768px) {
  .container {
  }
}

/* Desktop: 1440px+ */
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
