.catalog {
  min-height: 70vh;
  max-width: 1440px;
  margin: 40px auto 0;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  color: var(--text-dark);
  text-align: center;
}

.carsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 48px; /* вертикальні відступи */
  column-gap: 24px; /* горизонтальні відступи */
  justify-items: center; /* центрування карток всередині клітинок */
  margin-bottom: 0 auto;
}

.noResults {
  text-align: center;
  padding: 60px 20px;
  color: var(--text-light);
  font-size: 18px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

/* .loadMoreButton {
  border: 1px solid #3470ff;
  color: #101828;
  padding: 12px 32px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  min-width: 200px;
} */

.loadMoreButton:hover {
  background-color: var(--dark-blue);
}

.loadMoreButton:disabled {
  background-color: var(--text-light);
  cursor: not-allowed;
  opacity: 0.6;
}

/* Адаптація для планшетів
@media (max-width: 1439px) {
  .catalog {
    margin: 0 80px;
  }
}

@media (max-width: 1200px) {
  .catalog {
    margin: 0 60px;
  }
}

@media (max-width: 1024px) {
  .catalog {
    margin: 0 40px;
  }

  .carsGrid {
    pading-top: 56px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
  }

  .title {
    font-size: 28px;
    margin-bottom: 28px;
  }
}

/* Адаптація для мобільних пристроїв */
/* @media (max-width: 768px) {
  .catalog {
    margin: 0 20px;
    padding: 32px 0;
  }

  .carsGrid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    margin-bottom: 32px;
  }

  .title {
    font-size: 24px;
    margin-bottom: 24px;
  }

  .loadMoreContainer {
    margin: 32px 0;
    padding: 16px 0;
  }

  .loadMoreButton {
    padding: 10px 24px;
    font-size: 14px;
    min-width: 180px;
  }
}

@media (max-width: 480px) {
  .catalog {
    margin: 0 16px;
    padding: 24px 0;
  }

  .carsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .noResults {
    padding: 40px 20px;
    font-size: 16px;
  }

  .loadMoreButton {
    padding: 12px 20px;
    min-width: 160px;
  }
} */
