.catalog {
  min-height: 100vh;
  max-width: 1440px;
  margin: 24px auto 0;
  padding: 0 auto;
  position: relative; /* Для абсолютного позиціонування лоадера */
}

.carsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  row-gap: 24px; /* вертикальні відступи */
  column-gap: 24px; /* горизонтальні відступи */
  justify-items: center; /* центрування карток всередині клітинок */
  margin-bottom: 0 auto;
}

.noResults {
  text-align: center;
  padding: 60px 20px;
  color: var(--text-light);
  font-size: 18px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.loadMoreButton:hover {
  background-color: var(--dark-blue);
}

.loadMoreButton:disabled {
  background-color: var(--text-light);
  cursor: not-allowed;
  opacity: 0.6;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column: 1 / -1;
}

.globalLoader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@media (max-width: 767px) {
  .catalog {
    margin: 16px auto 0;
    padding: 0 16px;
  }

  .carsGrid {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    row-gap: 16px;
    column-gap: 12px;
  }

  .noResults {
    padding: 40px 16px;
    font-size: 16px;
  }

  .loadMoreContainer {
    margin: 40px 0;
  }

  .loaderContainer {
    padding: 32px 0;
  }
}

@media (min-width: 768px) {
  .catalog {
    margin: 32px auto 0;
    padding: 0 32px;
  }

  .carsGrid {
    row-gap: 32px;
    column-gap: 18px;
  }

  .loaderContainer {
    padding: 48px 0;
  }
}

@media (min-width: 1440px) {
  .catalog {
    margin: 84px auto 0;
    padding: 0 120px;
  }

  .carsGrid {
    row-gap: 48px;
    column-gap: 32px;
  }

  .loaderContainer {
    padding: 60px 0;
  }
}
