.details {
  padding: 84px 0;
  display: flex;
  gap: 72px;
  margin: 0 120px;
  align-items: flex-start;
}

/* Ліва колонка */
.leftColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.imageSection {
  min-width: 640px;
}

.carImage {
  width: 640px;
  height: 512px;
  object-fit: cover;
  border-radius: 12px;
}

.bookingSection {
  width: 100%;
}

/* Права колонка */
.rightColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Рядок з заголовком та ID */
.titleRow {
  display: flex;
  align-items: center;
}

.title {
  font-weight: 600;
  font-size: 24px;
  color: #101828;
  line-height: 1.2;
  margin: 20px 0 8px;
}

.carId {
  font-family: var(--font-family);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.42857;
  color: #8d929a;
  margin-top: 18px;
  margin-left: 16px;
}

.locationRow {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.locationItem {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text-light);
  font-size: 14px;
  line-height: 1.42857;
}

/* Ціна */
.price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
  margin-bottom: 32px;
}

.description {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
  margin-bottom: 68px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 1.2;
  color: var(--main);
}

/* Умови оренди
.rentalConditions {
  padding: 24px;
} */
.conditionsGrid {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 110px;
}

.condition {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main);
}

.checkIcon {
  fill: #101828;
  flex-shrink: 0;
}

/* Специфікації */
/* .specs {
} */

.specsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  margin-bottom: 110px;
}

.specItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
}

/* Аксесуари та функціонал */
/* .features {
  padding: 24px;
  background-color: var(--background-gray);
  border-radius: 12px;
} */

.featureList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
  margin: 0;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-dark);
  font-size: 14px;
}

/* Іконки */
.icon {
  fill: #101828;
  flex-shrink: 0;
}

.checkIcon {
  fill: #101828;
  flex-shrink: 0;
}

.icon svg,
.checkIcon svg {
  fill: #101828;
}

.notFound {
  text-align: center;
  padding: 80px 20px;
  font-size: 18px;
  color: var(--text-light);
}
